@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/violet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white/70 bg-zinc-900 relative;
}
body::before {
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  background: radial-gradient(
    75.61% 75.61% at 50% 24.39%,
    rgba(133, 19, 179, 0.596) 0%,
    rgba(107, 9, 146, 0) 100%
  );
  z-index: -1;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.card {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl;
}

.loader-pulse {
  @apply bg-violet-500;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  animation: load-pulse 0.85s infinite linear;
}

@keyframes load-pulse {
  0% {
    transform: scale(0.15);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.gridcard {
  background-color: #18181b;
  opacity: 1;
  background-image: radial-gradient(#cc23ff 0.65px, transparent 0.65px),
    radial-gradient(#cc23ff 0.65px, #18181b 0.65px);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  background-color: var(--blackA3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}
